.app {
  text-align: center;
  &-body {

  }

  .process-file {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 71vh;
    align-items: center;
    font-size: calc(1.2rem);
    color: $charcoalGrey;
    padding-top: 2rem;
    top: 1.0rem;

    h1 {
      font-size: 2.0rem;
      font-family: 'montserratregular', sans-serif;
      font-weight: 400;
      margin: 5rem 1rem 3rem;
      line-height: 2.4rem;

      &.table-header {
        display: block;
        background-color: darken($blueGrey, 10%);
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        font-size: 1.8rem;
        color: $white;
        padding: 1.2rem 1rem;
        margin: 0;
      }
    }
  }
}
