.app {
  text-align: center;
  &-body {

  }
}

.paragraph {
  &-text {
    font-size: 1.8rem;
    line-height: 2.9rem;
    font-weight: 300;
  }
}

.text-highlighted {
  color: $sectionButtonTextColour;
}


// ----- Supports the Following Files Types ----- //

.supporting {
  &-triangle {
    background-color: #fafbfb;
    clip-path: polygon(0 $bevel-side-difference, 100% 0, 100% $bevel-side-long, 0 $bevel-side-short);
  }
  clip-path: polygon(0 $bevel-side-difference + $bevel-triangle-short, 100% $bevel-triangle-long,
    100% $bevel-side-long - $bevel-triangle-short, 0 $bevel-side-short - $bevel-triangle-long);
  background-color: #eef3f1;
  padding: 15rem 0 12rem 0;
  &-paragraph {
    margin-top: 3rem;
  }
  &-table {
    padding: 5rem 0;
    text-align: left;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      line-height: 3.2rem;
      li {
        position: relative;
        padding-left: 2.7rem;
        &:before {
          content: '';
          width: 1.5rem;
          height: 1.3rem;
          position: absolute;
          //noinspection CssUnknownTarget
          background-image: url('img/li-check.svg');
          background-size: cover;
          background-position: center;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }

    .table {
      &-placeholder {
        width: 100%;
        display: table;
        font-size: 1.8rem;
        background-color: $white;
      }
      &-header, &-row {
        display: table-row;
        &-cell {
          display: table-cell;
          border-color: #cccccc;
          border-style: solid;
          border-width: 0 0 0 1px;
          &:not(:last-of-type) {
            border-right-width: 0;
          }
          &:last-of-type {
            //border-top-width: 1px;
            border-right-width: 1px;
          }
        }
      }
      &-header {
        font-size: 2.4rem;
        background-color: $sectionTitleTextColour;
        color: $white;
        &-cell {
          padding: 1rem 3.5rem;
        }
      }
      &-row {
        &-cell {
        }
      }
    }
    &.browser {
      .table {
        &-row {
          &-cell {
            padding: 3.5rem;
            &:first-of-type {
              background-color: #f7fffd
            }
            border-bottom-width: 1px;
          }
        }
      }
    }
    &.mobile {
      display: none;
      .table {
        &-row.bottom-border {
          .table-row-cell {
            border-bottom-width: 1px;
            padding-bottom: 3.5rem ;
          }
        }
        &-row {
          &-cell {
            padding-left: 3.5rem;
            padding-right: 3.5rem;
            padding-top: 3.5rem;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: $md-breakpoint) {
  .supporting {
    &-triangle {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

    &-table {
      &.browser {
        display: none;
      }
      &.mobile {
        display: block;
      }
    }
  }

}

// ---- Introducing d-FIRST ----- //
.technology {
  padding-top: 7rem;
  .text-highlighted {
    font-weight: bold;
  }
  &-stack {
    display: flex;
    //flex-direction: row;
    align-items: center;
  }
  .brick {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
    //margin: 2rem 0;

    &-picture {
      height: 20rem;
      width: 20rem;
      img {
        width: 100%;
        //height: 100%;
      }
    }
    &-abstract {
      font-size: 2rem;
      margin: 2rem 0;
      color: $sectionSubTitleTextColour;
    }
  }
}

.privacy {
  color: $sectionParagraphTextColour;
  padding-bottom: 7rem;
  padding-top: 2rem;
  &-container {
  }
  &-statement {
    margin-top: 3rem;
    margin-bottom: 5rem;
  }
  &-paragraph {
    margin-top: 3rem;
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.process-file {
  position: relative;
  display: flex;
  flex-direction: column;
  //min-height: 71vh;
  align-items: center;
  font-size: calc(1.2rem);
  color: $charcoalGrey;
  padding-top: 2rem;
  top: 1.0rem;

  h1 {
    font-size: 2.0rem;
    font-family: 'montserratregular', sans-serif;
    font-weight: 400;
    margin: 5rem 1rem 3rem;
    line-height: 2.4rem;

    &.table-header {
      display: block;
      background-color: darken($blueGrey, 10%);
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      font-size: 1.8rem;
      color: $white;
      padding: 1.2rem 1rem;
      margin: 0;
    }
  }
}


@media only screen and (max-width: $md-breakpoint) {
  .supporting {
    &-triangle {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .app {
    &-header {
      &-triangle {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }
      height: 100vh;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }

  .technology {
    &-stack {
      flex-direction: column;
    }
    .brick {
      &-picture {
        height: 17.5rem;
        width: 17.5rem;
      }
    }
  }

  .technology {
    &-stack {
      flex-direction: column;
    }
  }
  .privacy {
    &-buttons {
      display: flex;
      flex-direction: column;
    }
  }
}
