.app {
  &-header {
    &-triangle {
      background-color: hsl(162, 19%, 86%); //#d6e3df;
      clip-path: polygon(0 0, 100% 0, 100% $bevel-side-long, 0 $bevel-side-short);
    }
    color: white;
    /* Old browsers */
    background: $oldBrowserBgColour;
    /* Modern browsers */
    background: linear-gradient(90deg, $header-bg-gradient-start 35%, $header-bg-gradient-end 100%);
    clip-path: polygon(0 0, 100% 0,
      100% $bevel-side-long - $bevel-triangle-long, 0 $bevel-side-short - $bevel-triangle-short);
    &-container {
      min-height: $xl-header-height;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.hero {
  &-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    font-weight: 300;
    letter-spacing: 2px;
  }

  &-icon {
    width: 9.2rem;
    height: 9.2rem;
    //background: transparent url('img/drop-white.svg') center center no-repeat;
    background-color: $fileDropBgColour;
    outline: none;
    margin-right: 2.5rem;
    border: 1px solid $fileDropBgColour;
    border-radius: 0.5rem;
    img {
      max-width: 100%;
    }
  }

  &-body {
    display: grid;
    grid-template-columns: repeat(2, 50%) ;
    grid-template-rows: repeat(2, auto);
    padding-top: 6.8rem;
    padding-left: 3.6rem;
    padding-right: 4rem;
  }

  // contains sanitize Your Files and text
  &-info {
    text-align: left;
  }
  .info {
    font-weight: 300;
    &-title {
      font-size: 5rem;
      font-weight: 300;
      letter-spacing: 0.15rem;
    }
    &-subtitle {
      font-size: 2.4rem;
      font-weight: 300;
      padding-top: 1.4rem;
    }
    &-text {
      margin-top: 3rem;
      padding-right: 0.3rem;
    }
  }

  &-buttons {
    text-align: left;
    margin-top: 4rem;
    order: 2;
  }

  &-drop {
    &zone {
      grid-column-start: 2;
      grid-column-end: span 1;
      grid-row-start: 1;
      grid-row-end: span 2;
      padding: 0 6rem 4rem 6rem;
    }
    &-message {
      font-size: 2.4rem;
      font-weight: 300;
    }
  }

  .drop {
    &-container {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      .button {
        margin: 0;
        z-index: -1;
      }
    }
  }
}

@media only screen and (max-width: $max-touch-breakpoint) {

  .hero {
    &-body {
      display: grid;
      grid-template-columns: repeat(1, auto);
      grid-template-rows: repeat(3, auto);
    }

    &-info {
      text-align: center;
    }

    &-buttons {
      //order: initial;
    }

    &-drop {
      &zone {
        grid-column-start: initial;
        grid-column-end: initial;
        grid-row-start: initial;
        grid-row-end: initial;
        padding: 0;
      }
    }
  }
}


@media only screen and (max-width: $xs-breakpoint) {
  .hero {

  }
}
