// --- Button Icons --- //

@mixin button($image) {
  background-image: url('../img/'+ $image);
  background-size: 3.2rem 3.2rem;
  background-position: left center;
  background-repeat: no-repeat;
}

.app {

  button {
    position: relative;
    overflow: hidden;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    user-select: none;
    outline: none;
  }

  .button {
    font-size: 1.7rem;
    font-weight: bold;
    color: $sectionButtonTextColour;
    border: 2px solid $sectionButtonTextColour;
    padding: 1.7rem 2rem;
    // experimental
    margin-right: 2.1rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    &s {
      margin-top: 4rem;
    }
    &__inverse {
      background-color: $sectionButtonTextColour;
      color: $white;
    }
  }

  /*
  TODO remove after testing
  .analysis-results {
    .download-button {
      //display: block;
      min-width: 9rem;
      height: $buttonHeight;
      padding: 0 2rem;
      font-size: 1.6rem;
      text-transform: uppercase;
      line-height: $buttonHeight;
      color: $white;
      border-radius: 3px;
      transition: all 0.3s;


      &:hover {
        box-shadow: $boxShadow1;
      }

      &.center {
        margin: 3rem auto;
      }

      &:disabled {
        opacity: 0.6;
        pointer-events: none;
      }
    }

    .button-icon {
      background-image: url('img/download-icon-white.svg');
      background-size: 3.2rem 3.2rem;
      background-position: left center;
      background-repeat: no-repeat;
      min-width: 0;
      padding: 0 1.4rem 0 3.4rem;
      text-align: left;
    }


    .button-filled {
      background-color: $buttonBGColour;

    }
  }
  */

  // moved from _drop.scss
  .hero {
    &-drop {
      &-button {
        color: $white;
        opacity: 0.5;
        font-size: 1.7rem;
        padding: 1.5rem 2rem;
        border: 1px $white solid;
      }
    }
    // moved from _header.scss
  }
  // from _results.scss

}

@media only screen and (max-width: $md-breakpoint) {
  /*
  .app {
    .download-container {
      button {
        margin: 2rem 1rem;
      }
    }
  }
  */
}
