// --- Button Icons --- //
button {
  position: relative;
  overflow: hidden;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  user-select: none;
  outline: none;
}

.button {
  font-size: 1.7rem;
  font-weight: bold;
  color: $sectionButtonTextColour;
  border: 2px solid $sectionButtonTextColour;
  padding: 1.7rem 2rem;
  // experimental
  margin-right: 2.1rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  transition: 0.3s;
  &s {
    margin-top: 4rem;
  }
  &__inverse {
    background-color: $sectionButtonTextColour;
    color: $white;
  }
}


@media only screen and (min-width: $max-touch-breakpoint) {
  .button {
    &:hover {
      background-color: $button-bg-hover;
    }
    &__inverse {
      &:hover {
        background-color: $button-hover-on-inverse;
      }
    }
  }

  .app {
    &-header {
      .button {
        &:hover {
          background-color: $button-hover-on-deep-blue;
        }
        &__inverse {
          &:hover {
            background-color: $button-hover-on-inverse;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: $md-breakpoint) {
  /*
  .app {
    .download-container {
      button {
        margin: 2rem 1rem;
      }
    }
  }
  */
}
