// --- Button Icons --- //
button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  position: relative;
  user-select: none;
}

.button {
  font-family: 'Nunito Sans', sans-serif;
  border: 2px solid $sectionButtonTextColour;
  color: $sectionButtonTextColour;
  font-size: 1.7rem;
  font-weight: bold;
  padding: 1.2rem 2.4rem;
  text-transform: uppercase;
  transition: 0.3s;
  &s-container {
    a:not(:last-of-type) .button {
      margin-right: 2.1rem;
    }
    .button {
      margin-bottom: 2rem;
    }
    > button {
      &:not(:last-of-type) {
        margin-right: 2.1rem;
      }
    }

  }
  &__inverse {
    background-color: $sectionButtonTextColour;
    padding: 1.4rem 2.7rem;
    color: $white;
    border: none;
  }
}


@media only screen and (max-width: $max-touch-breakpoint) {
  .button {
    &:hover {
      cursor: default;
    }
    &s-container {
    &.touch-full {
      a:not(:last-of-type) .button {
        margin-right: 0;
      }
      > button {
        &:not(:last-of-type) {
          margin-right: 0;
        }
      }
    }
    }
  }
}

@media only screen and (min-width: $max-touch-breakpoint) {
  .button {
    &:hover {
      background-color: $button-bg-hover;
    }
    &__inverse {
      &:hover {
        background-color: $button-hover-on-inverse;
      }
    }
  }

  .app {
    &-header {
      .button {
        &:hover {
          background-color: $button-hover-on-deep-blue;
        }
        &__inverse {
          &:hover {
            background-color: $button-hover-on-inverse;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: $max-touch-breakpoint) {
  .button {
    &.touch-full {
      width: 100%;
      margin-right: 0;
    }
    &s {
      &-container {
        &.touch-full {
          .button {
            width: 100%;
            margin-right: 0;
          }
        }
      }
    }
  }
}


