.container {
  max-width: $xl-container-width;
  margin: 0 auto;
}
.section {
  &-title {
    font-size: 3.6rem;
    font-weight: 400;
    color: $sectionTitleTextColour;
  }
}


@media only screen and (max-width: $xl-breakpoint) {
}

@media only screen and (max-width: $lg-breakpoint) {
  .container {
    max-width: $lg-container-width;
  }
}

@media only screen and (max-width: $md-breakpoint) {
  .container {
    max-width: $md-container-width;
  }
}

@media only screen and (max-width: $sm-breakpoint) {
  .container {
    max-width: $sm-container-width;
  }
}

@media only screen and (max-width: $xs-breakpoint) {
  .container {
    max-width: $xs-container-width;
  }
}

@media only screen and (max-width: $xxs-breakpoint) {
  .container {
    max-width: $xxs-container-width;
  }
}
