.container {
  max-width: $xxl-container-width;
  margin: 0 auto;
}

.section {
  &-title {
    font-size: 3.6rem;
    font-weight: 400;
    color: $sectionTitleTextColour;
  }
}

.paragraph {
  &-text {
    font-size: 1.8rem;
    line-height: 2.9rem;
    font-weight: 300;
  }
}


@media only screen and (max-width: $xl-breakpoint) {
  .container {
    max-width: $xl-container-width;
  }
}

@media only screen and (max-width: $lg-breakpoint) {
  .container {
    max-width: $lg-container-width;
  }
  .paragraph {
    &-text {
      font-size: 1.7rem;
      line-height: 2.7rem;
    }
  }
}

@media only screen and (max-width: $md-breakpoint) {
  .container {
    max-width: $md-container-width;
  }
  .section {
    &-title {
      font-size: 3.2rem;
      line-height: 3.7rem;
    }
  }
  .paragraph {
    &-text {
      font-size: 1.6rem;
      line-height: 2.3rem;
    }
  }
}

@media only screen and (max-width: $sm-breakpoint) {
  .container {
    max-width: $sm-container-width;
  }
  .section {
    &-title {
      font-size: 3rem;
      line-height: 3.5rem;
    }
  }
  .paragraph {
    &-text {
      //font-size: 1.51rem;
      line-height: 2.3rem;
    }
  }
}

@media only screen and (max-width: $xs-breakpoint) {
  .container {
    max-width: $xs-container-width;
  }
}
