/**
 * Our desired *rem* size - 10px to ease using rem in scss, ie. font-size: 1.6rem equivalent to 16px
 * NOTE It should be before _rem_ import.
 */
$rem-base-font-size: 10px;


html,
body {
  font-size: $rem-base-font-size;
}


// --- Imports --- //

@import 'rem';
@import 'vars';
@import 'settings';

@import 'typography';
@import 'layout';
@import 'buttons';
@import 'modal';

@import 'sections/menu-top';
@import 'sections/header';
@import 'sections/drag-n-drop';
@import 'sections/results';
@import 'sections/footer';

// --- Loading Spinner Animation --- //

@keyframes spinner {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(175deg);
  }
}


// --- Main Styles --- //

.app {
  text-align: center;
  &-body {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 71vh;
    align-items: center;
    font-size: calc(1.2rem);
    color: $charcoalGrey;
    padding-top: 2rem;
    top: 1.0rem;

    h1 {
      font-size: 2.0rem;
      font-family: 'montserratregular', sans-serif;
      font-weight: 400;
      margin: 5rem 1rem 3rem;
      line-height: 2.4rem;

      &.table-header {
        display: block;
        background-color: darken($blueGrey, 10%);
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        font-size: 1.8rem;
        color: $white;
        padding: 1.2rem 1rem;
        margin: 0;
      }
    }
  }
}


.spinner {
  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-color: $paleGrey;
    border-radius: 3rem;
  }
  position: absolute;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  width: 5rem;
  height: 5rem;
  animation: spinner 0.4s linear infinite;
  opacity: 1;
  transition: 0.5s all;

  &::before,
  &::after {
    content: '';
    position: relative;
    display: block;
    width: 0.8rem;
    height: 0.8rem;
    background-color: $seaBlue;
    border-radius: 100%;
  }
}

.terms-link {
  position: absolute;
  bottom: 3rem;
  opacity: 0.5;
}

.social-icon {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  margin: 2rem 0.8rem 0 0;

  &.twitter {
    background: transparent url('img/twitter.svg') center center no-repeat;
  }

  &.linkedin {
    background: transparent url('img/linkedin.svg') center center no-repeat;
  }

  &.medium {
    background: transparent url('img/medium.svg') center center no-repeat;
  }

  &.youtube {
    background: transparent url('img/youtube.svg') center center no-repeat;
  }
}

